### IntelliJ IDEA ###
.idea
*.iml

### Eclipse ###
.classpath
.project
.settings
bin

### NetBeans ###
nb-configuration.xml

### VS Code ###
.vscode

### Mac OS ###
.DS_Store

### Maven ###
target

### Pipenv ###
Pipfile.lock